# Dependencies
node_modules/
package-lock.json

# Firebase
.firebase/
.firebaserc
# serviceAccountKey.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Security / Signing
*.p12
*.pem
*.mobileprovision
*.cer
*.certSigningRequest
SECRETS_TO_ADD.txt
