CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = Apple Distribution
DEVELOPMENT_TEAM = QY25P2CW87
PROVISIONING_PROFILE_SPECIFIER = JM Audiobooks App Store
PROVISIONING_PROFILE = bc145a22-aaba-4800-9608-e8fd063229c9
PRODUCT_BUNDLE_IDENTIFIER = com.jmaudiobooks.jmaudiobooks
SKIP_INSTALL = NO
ENABLE_BITCODE = NO
CODE_SIGNING_REQUIRED = YES
CODE_SIGNING_ALLOWED = YES
